* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    --blue: rgb(0, 113, 227);
    --light-grey: rgb(240, 240, 240);
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: var(--blue);
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
.anchor {
    padding-top: 10vh;
}

/* ---------NAVBARS--------- */

#navbar-1 {
    background: black;   
    position: fixed;
    width: 100vw;
    height: 3em;
    z-index: 1;
}
#navbar-flex-1 {
    width: 980px;
    padding: .75em 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.iconify {
    font-size: 130% !important;
}
.navbar-link {
    color: rgb(216, 216, 216);
    font-size: .85em;
}
.navbar-link:hover {
    color: white;
}
.used {
    color: rgb(171, 171, 171);
}

#navbar-2 {
    text-align: center;
    font-size: .75em;
    padding: .8em;
    background: rgb(248, 248, 248);
    color: rgb(63, 63, 63);
    position: relative;
    top: 4em;
    animation-name: fall;
    animation-duration: 5s; 
    animation-timing-function: linear;
}
#navbar-2 a {
    animation-name: fall;
    animation-duration: 5s; 
    animation-timing-function: linear;
}
@keyframes fall {
    0% {top: -100px; background: var(--blue); color: azure}
    50% {top: 4em; background: var(--blue); color: azure}
    80% {top: 4em; background: var(--blue); color: azure}
    100% {background: rgb(248, 248, 248); color: rgb(63, 63, 63);}
}

/* ---------BODY--------- */

main {
    font-size: 1.1em;
    background: var(--light-grey);
}
.grid-img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}
.text {
    line-height: 1.5em;
}
h2 {
    font-size: 2.6em;
    font-weight: 500;
    line-height: 1.1em;
}
h3 {
    font-size: 1.7em;
    line-height: 1.1em;
    padding-top: 1em;
}
h4 {
    font-size: 1.4em;
    line-height: 1.2em;
    padding-top: 1em;
}
.para {
    margin: 2vh 0;
}
.bold {
    font-weight: 500 ;
    color: black;
}
.center {
    text-align: center;
}
sup {
    position: relative;
    font-size: 0.6em;
    vertical-align: baseline;
    top: -0.5em;
}
.buy {
    padding: .4em 1em;
    background: var(--blue);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.buy:hover {
    filter: brightness(110%);
}

/* --------SECTION 1-------- */

#presentation {
    background: white;
}

#content-presentation {
    width: 980px;
    margin: 0 auto;
    padding: 5em 0 3em 0;
}
#grid-presentation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 8em;
    align-items: center;
}
.even {
    padding-left: 4em;
}
.model, .subtitle {
    font-size: 1.5em;
    font-weight: 500;
}
.red {
    color: rgb(204, 32, 32);
}

/* ----------SECTION 2---------- */

#comparison {
    background: white;
}
#content-comparison {
    width: 940px;
    margin: 0 auto;
    padding-bottom: 6em;
}
.header {
    text-align: center;
    line-height: 4.5em;
}
.header a {
    font-size: 1.3em;
}
.small {
    font-size: 78%;
    line-height: 1.5em;
}
#grid-comparison {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    column-gap: 2em;
    margin: 1em auto;
}
#grid-comparison img {
    margin-bottom: 2em;
    margin-top: 2em;
}
.flex-comparison-column {
    display: flex;
    flex-direction: column;
}
.flex-buy {
    margin-top: auto;
    margin-bottom: 2em;
}

/* --------SECTION 3--------- */

.flex-card-1 {
    padding: 4.5em 1em;
    margin: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    text-align: center;
}
.flex-card-1 img {
    max-width: 50%;
}
.flex-card-2-row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 1em; /* padding on parent + margin on child = separation between children amomg them and between children and parent */
    text-align: center;
    margin-bottom: 2em;
}
.flex-card-2-column {
    display: flex;
    flex-direction: column;
    margin: 0 1em; /* padding on parent + margin on child = separation between children amomg them and between children and parent */
    justify-content: flex-end;
    overflow: hidden;
    background: white;
    padding: 4em 3em 0 3em;
}
.flex-card-2-column img {
    width: 100%;
    height: auto;
    margin-top: 3em;
}
/* ---------SECTION-4-------- */
 .narrow {
    width: 400px;
    margin: 2vh auto;
 }
 #shop {
    margin-bottom: 4em;
 }

 /* ----------SECTION-5--------- */
 #content-accesories {
    width: 1020px;
    margin: 0 auto;
}
.flex-accesories {
    margin-top: 3em;
    margin-bottom: .7em;
    padding: 7em 2.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    text-align: center;
}
.flex-accesories img {
    max-width: 40%;
}
.grid-accesories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: .7em;
    justify-content: stretch;
}
.grid-accesories img {
    padding: 4em;
}
.grid-item-accesories {
    background: white;
    padding-bottom: 4em;
    text-align: center;
    line-height: 1.5em;
}
.grid-item-accesories-b {
    background: white;
    padding-bottom: 1em;
    text-align: center;
}
/* -------FOOTER--------- */

footer {
    background: var(--light-grey);
}
.footer {
    font-size: .7em;
    color: rgb(137, 137, 137);
    width: 80vw;
    margin: 0 auto;
    padding: 2em 0;
}
.underline {
    border-bottom: 1px solid rgb(180, 180, 180);
    padding: .8em 0;
}
.grid-footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
    padding: .8em 0;
}
.middle {
    display: flex;
}
.middle a {
    padding: 0 1em;
    border-right:1px solid rgb(180, 180, 180);
    color: rgb(61, 61, 61);
}
.end {
    border: none;
}
.last {
    text-align: right;
    color: rgb(61, 61, 61);
}
/* total screen width desktop = aprox. 1270px */
@media (max-width: 730px) {
    * {
        font-size: 90%;
    }
}
@media (min-width: 730px) and (max-width: 1070px) {
    * {
        font-size: 99%;
    }
    #content-presentation {
        width: 700px;
    }
    #content-comparison {
        width: 580px;
    }
    #grid-comparison {
        grid-template-columns: 1fr 1fr;
        column-gap: 10em;
    }
    .flex-card-1, .flex-accesories {
        margin: 2em 8em;
        font-size: 90%;
    }
    .flex-card-2-row {
        margin: 2em 6em;
        font-size: 90%;
    }
    .grid-accesories {
        margin: -1.3em 8em;
        font-size: 90%;
    }
}