* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    --blue: rgb(0, 113, 227);
    --light-grey: rgb(240, 240, 240);
}
a {
    text-decoration: none;
    color: var(--blue);
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}

/* ---------NAVBARS--------- */

#navbar-1 {
    background: black;   
}
#flex-1 {
    width: 980px;
    padding: .75em 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.iconify {
    font-size: 130% !important;
}
.navbar-link {
    color: rgb(216, 216, 216);
    font-size: .85em;
}
.navbar-link:hover {
    color: white;
}
.used {
    color: rgb(171, 171, 171);
}

#navbar-2 {
    text-align: center;
    font-size: .75em;
    padding: .8em;
    background: rgb(248, 248, 248);
    color: rgb(63, 63, 63);
    position: relative;
    top: -3px;
    animation-name: fall;
    animation-duration: 5s; 
    animation-timing-function: linear;
    z-index: -1;
}
.navbar-2 a {
    animation-name: fall;
    animation-duration: 5s; 
    animation-timing-function: linear;
}
@keyframes fall {
    0% {top: -100px; background: var(--blue); color: azure}
    50% {top: -3px; background: var(--blue); color: azure}
    80% {top: -3px; background: var(--blue); color: azure}
    100% {background: rgb(248, 248, 248); color: rgb(63, 63, 63);}
}

/* ---------BODY--------- */

main {
    font-size: 1.1em;
    background: var(--light-grey);
}
.grid-img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}
.text {
    line-height: 1.5em;
}
h2 {
    font-size: 2.8em;
    font-weight: 500;
    line-height: 1.1em;
}
h3 {
    font-size: 1.8em;
    line-height: 1.1em;
    padding-top: 1em;
}
h4 {
    font-size: 1.5em;
    line-height: 1.2em;
    padding-top: 1em;
}
.para {
    margin: 2vh 0;
}
.bold {
    font-weight: 500 ;
    color: black;
}
.center {
    text-align: center;
}
.buy {
    padding: .4em 1em;
    background: var(--blue);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.buy:hover {
    filter: brightness(110%);
}

/* --------SECTION 1-------- */

#section-1 {
    background: white;
}

#content-1 {
    width: 980px;
    margin: 0 auto;
    padding: 5em 0 7em 0;
}
#grid-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 8em;
    align-items: center;
}
.even {
    padding-left: 4em;
}
.model, .subtitle {
    font-size: 1.5em;
    font-weight: 500;
}
.red {
    color: rgb(204, 32, 32);
}

/* ----------SECTION 2---------- */

#section-2 {
    background: white;
}
#content-2 {
    width: 940px;
    margin: 0 auto;
    padding: 1.5em 0 6em 0;
}
.header {
    text-align: center;
    line-height: 4.5em;
}
.header a {
    font-size: 1.3em;
}
#grid-2 {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2.2em;
    grid-row-gap: 1em;
    align-items: left;
}
.small {
    font-size: 78%;
    line-height: 1.5em;
}

/* --------SECTION 3--------- */

.flex-2 {
    border: 2em solid var(--light-grey);
    padding: 4.5em 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    text-align: center;
}
.flex-2 img {
    max-width: 50%;
}
.flex-3 {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 1em; /* padding on parent & margin on child = separation between children amomg them and between children and parent */
    text-align: center;
    margin-bottom: 2em;
}
.flex-4 {
    display: flex;
    flex-direction: column;
    margin: 0 1em; /* padding on parent & margin on child = separation between children amomg them and between children and parent */
    justify-content: flex-end;
    overflow: hidden;
    background: white;
    padding: 4em 3em 0 3em;
}
.flex-4 img {
    width: 100%;
    height: auto;
    margin-top: 3em;
}
/* ---------SECTION-4-------- */
 .narrow {
    width: 400px;
    margin: 2vh auto;
 }
 .blank {
     height: 8em;
 }

 /* ----------SECTION-5--------- */
 #content-5 {
    width: 1020px;
    margin: 0 auto;
}
.flex-5 {
    width: 1020px;
    margin: 3em auto .7em auto;
    padding: 7em 2.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    text-align: center;
}
.flex-5 img {
    max-width: 40%;
}
.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: .7em;
    justify-content: stretch;
}
.grid-3 img {
    padding: 4em;
}
.grid-item-3 {
    background: white;
    padding-bottom: 4em;
    text-align: center;
    line-height: 1.5em;
}
.grid-item-3b {
    background: white;
    padding-bottom: 1em;
    text-align: center;
}
/* -------FOOTER--------- */

footer {
    background: var(--light-grey);
}
.footer {
    font-size: .7em;
    color: rgb(137, 137, 137);
    width: 80vw;
    margin: 0 auto;
    padding: 2em 0;
}
.underline {
    border-bottom: 1px solid rgb(180, 180, 180);
    padding: .8em 0;
}
.grid-4 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
    padding: .8em 0;
}
.middle {
    display: flex;
}
.middle a {
    padding: 0 1em;
    border-right:1px solid rgb(180, 180, 180);
    color: rgb(61, 61, 61);
}
.end {
    border: none;
}
.last {
    text-align: right;
    color: rgb(61, 61, 61);
}

