* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    --blue: rgb(0, 113, 227);
    --light-grey: rgb(240, 240, 240);
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: var(--blue);
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
.anchor {
    padding-top: 10vh;
}

/* ---------NAVBARS--------- */

#navbar-1 {
    background: black;   
    position: fixed;
    width: 100vw;
    height: 2.8rem;
    z-index: 1;
}
#navbar-icons {
    width: 980px;
    padding: .75em 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.iconify {
    font-size: 130% !important;
}
.navbar-link {
    color: rgb(216, 216, 216);
    font-size: .8em;
}
.navbar-link:hover {
    color: white;
}
.used {
    color: rgb(171, 171, 171);
}

#navbar-2 {
    text-align: center;
    font-size: .7em;
    padding: .8em;
    background: rgb(248, 248, 248);
    color: rgb(63, 63, 63);
    position: relative;
    top: 2.8rem;
    animation-name: fall;
    animation-duration: 5s; 
    animation-timing-function: linear;
}
#navbar-2 a {
    animation-name: fall;
    animation-duration: 5s; 
    animation-timing-function: linear;
}
@keyframes fall {
    0% {top: -100px; background: var(--blue); color: azure}
    50% {top: 2.8rem; background: var(--blue); color: azure}
    80% {top: 2.8rem; background: var(--blue); color: azure}
    100% {background: rgb(248, 248, 248); color: rgb(63, 63, 63);}
}

/* ---------BODY--------- */

main {
    font-size: 1em;
    background: var(--light-grey);
}
.text {
    line-height: 1.5em;
}
.big-text {
    line-height: 1.5em;
    font-size: 1.1em;
}
.para {
    margin: .6em 0;
}
h2 {
    font-size: 2.8em;
    font-weight: 500;
    line-height: 1.2em;
}
h3 {
    font-size: 1.7em;
    line-height: 1.1em;
    padding-top: 1em;
}
h4 {
    font-size: 1.4em;
    line-height: 1.2em;
    padding-top: 1em;
}
.bold {
    font-weight: 500 ;
    color: black;
}
.center {
    text-align: center;
}
.subtitle {
    font-size: 1.5em;
    font-weight: 500;
}
.red {
    color: rgb(204, 32, 32);
}
sup {
    position: relative;
    font-size: 0.6em;
    vertical-align: baseline;
    top: -0.5em;
}

.grid-img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

/* --------SECTION 1-------- */

#presentation {
    background: white;
}

#content-presentation {
    width: 980px;
    margin: 0 auto;
    padding: 5em 0 3em 0;
}
#grid-presentation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 8em;
    align-items: center;
}
.even {
    padding-left: 4em;
}
.buy {
    padding: .4em 1em;
    margin-top: 1.5em;
    background: var(--blue);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.buy:hover {
    filter: brightness(110%);
}

/* ----------SECTION 2---------- */

#comparison {
    background: white;
}
#content-comparison {
    width: 940px;
    margin: 0 auto;
    padding-bottom: 6em;
}
.header {
    text-align: center;
    line-height: 4.5em;
}
.header a {
    font-size: 1.3em;
}
.small {
    font-size: .8em;
    line-height: 1.5em;
}
#grid-comparison {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    column-gap: 2em;
    margin: 0 auto;
}
#grid-comparison img {
    margin-bottom: 2em;
    margin-top: 2em;
}
.flex-comparison-column {
    display: flex;
    flex-direction: column;
}
.flex-buy {
    margin-top: auto;
    margin-bottom: 2em;
}

/* --------SECTION 3--------- */

.flex-card-1 {
    padding: 4.5em 2em;
    margin: 2em;
    background: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-card-1 img {
    max-width: 50%;
}
.flex-card-1 .text {
    padding: 0 1em;
}
.flex-card-2-row {
    text-align: center;
    margin-bottom: 2em;
    display: flex;
    padding: 0 1em; /* padding on parent + margin on child = separation between children amomg them and between children and parent */
}
.flex-card-2-column {
    background: white;
    padding: 4.5em 6em 0 6em;
    display: flex;
    flex-direction: column;
    margin: 0 1em; /* padding on parent + margin on child = separation between children amomg them and between children and parent */
    justify-content: space-between;
}
.flex-card-2-column img {
    margin-top: 3em;
}
/* ---------SECTION-4-------- */
 .narrow {
    width: 400px;
    margin: 2vh auto;
 }
 #shop {
    margin-bottom: 4em;
 }

 /* ----------SECTION-5--------- */

 #content-accesories {
    width: 1080px;
    margin: 0 auto;
}
.flex-accesories {
    margin: 3em 1em .7em 1em;
    padding: 7em 2.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    text-align: center;
}
.flex-accesories img {
    max-width: 40%;
}
.grid-accesories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: .7em;
    margin: 1em;
}
.grid-accesories img {
    padding: 4em;
}
.flex-accesories-column {
    display: flex;
    flex-direction: column;
    background: white;
    padding-bottom: 4em;
    text-align: center;
    line-height: 1.5em;
}
.flex-bottom {
    margin-bottom: auto;
}

/* ---------SECTION 6-------- */


.flex-bgd-img  {
    height: 700px;
    color: white;
    text-align: center;
    display: flex;
    padding: 2em 1em; /* to get space to border */
}
.flex-bgd-img a {
    color: white;
}
.bgd-img {
    width: 50%;
    padding: 2em;
    margin: 1em; /* to get space between both */
}
#bgd-img-pink {
    background-image: url("https://user-images.githubusercontent.com/69153207/94028993-a577eb00-fdbc-11ea-9bb1-8bbdb8cdc66e.jpg");
    background-size: cover;
    background-position: center;
}
#bgd-img-blue {
    background-image: url("https://user-images.githubusercontent.com/69153207/94029007-a7da4500-fdbc-11ea-93c2-df04f3b7609a.jpg");
    background-size: cover;
    background-position: center;
}

/* -------FOOTER--------- */

footer {
    background: var(--light-grey);
}
.footer {
    font-size: .7em;
    color: rgb(137, 137, 137);
    width: 1040px;
    margin: 0 auto;
    padding: 2em 0;
}
.underline {
    border-bottom: 1px solid rgb(180, 180, 180);
    padding: .8em 0;
}
.grid-footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
    padding: .8em 0;
}
.middle {
    display: flex;
}
.middle a {
    padding: 0 1em;
    border-right: 1px solid rgb(180, 180, 180);
    color: rgb(61, 61, 61);
}
.end {
    border: none !important;
}
.last {
    text-align: right;
    color: rgb(61, 61, 61);
}
/* total screen width desktop = aprox. 1270px */
@media (min-width: 740px) and (max-width: 1060px) {
    * {
        font-size: 99%;
    }
    h2 {
        font-size: 2.5em;
    }
    .small {
        font-size: .85em;
    }
    #navbar-icons {
        width: 90%;
    }
    #content-presentation {
        width: 680px;
    }
    #content-comparison {
        width: 520px;
    }
    #grid-comparison {
        grid-template-columns: 1fr 1fr;
        column-gap: 8em;
    }
    #content-card, #content-accesories, #extras {
        width: 740px;
        margin: 0 auto;
    }
    .flex-card-1, .flex-accesories, .grid-accesories {
        font-size: 85%;
    }
    .flex-card-2-column {
        padding: 3em 2em 0 2em;
        width: 50%;
        font-size: 85%;
    }
    .flex-bgd-img {
        height: 450px;
        padding: 0;
    }
    .footer {
        width: 90vw;
    }
    .grid-footer {
        padding-top: 0;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
            "underline underline"
            "first last"
            "middle middle";
    }
    .start {
        padding-left: 0 !important;
    }
    .underline {
        grid-area: underline;
    }
    .first {
        grid-area: first;
    }
    .middle {
        grid-area: middle;
        padding: 0;
    }
    .last {
        grid-area: last;
    }
}
@media (max-width: 730px) {
    * {
        font-size: 98%;
    }
    h2 {
        font-size: 2.1em;
    }
    #navbar-icons {
        width: 80%;
    }
    .disappear {
        display: none;
    }
    .even {
        padding-left: 0;
    }
    #content-presentation, #content-accesories {
        width: 100vw;
        text-align: center;
    }
    #grid-presentation, .grid-accesories {
        grid-template-columns: 1fr;
        grid-row-gap: 2em;
    }
    .last-img {
        order: 4;
    }
    #content-comparison {
        width: 300px;
    }
    #grid-comparison {
        grid-template-columns: 1fr 1fr;
        column-gap: 3em;
    }
    .flex-comparison-column {
        max-width: 50vw;
    }
    .small {
        font-size: 86%;
    }
    .flex-card-1, .flex-card-2-row, .flex-accesories, .grid-accesories {
        width: 100vw;
        flex-direction: column;   
        margin: 2em 0; 
        padding: 1em 0;
        font-size: 95%;
    }
    .flex-accesories img, .flex-card-1 img {
        min-width: 90%;
        padding: 2em 0;
    }
    .flex-card-2-column, .flex-accesories-column {
        width: 100vw;
        margin: 0;
        margin-bottom: 2em;
        font-size: 95%;
    }
    .flex-card-2-column {
        padding: 2em 2em 0 2em;
    }
    .flex-accesories-column {
        padding-bottom: 2em;
    }
    .flex-accesories-column a {
        font-size: 1.4em;
    }
    #shop, .narrow {
        width: 90vw;
        margin: 1em auto;
    }

    .flex-bgd-img  {
        flex-direction: column;
        padding: 0; 
    }
    .bgd-img {
        width: 100vw;
        height: 100%;
        padding: 2em;
        margin: 1em 0; 
    }
    .footer {
        width: 90vw;
    }
    .grid-footer {
        padding-top: 0;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "underline"
            "last"
            "first"
            "middle";
        }
    .start {
        padding-left: 0 !important;
    }
    .underline {
        border: none;
        grid-area: underline;
        padding: 0;
    }
    .first {
        grid-area: first;
    }
    .middle {
        display: inline;
        grid-area: middle;
    }
    .last {
        grid-area: last;
        text-align: left;
    }
}