:root {
  --main-blue: #293f50;
  --green: rgb(73, 100, 91);
  --white: rgb(193, 194, 193);
  --dark-blue: rgba(2, 28, 43, 0.8);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: var(--white);
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.7em;
  color: var(--main-blue);
  text-align: center;
  line-height: 8rem;
}
h3 {
  font-size: 1.4em;
  box-shadow: 0 2px 3px -3px rgba(0, 0, 0, 0.5);
  margin: 0 4rem;
  padding-top: 1em;
}

/* navbar */
#navbar {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 5em;
  display: flex;
  justify-content: right;
  z-index: 99;
}
.menu-link {
  padding: 2rem;
}
.menu-link:hover {
  color: var(--green);
}
.anchor:before {
  display: block;
  content: " ";
  margin-top: -5em;
  height: 5em;
  visibility: hidden;
  pointer-events: none;
}

/* welcome */
#welcome-section {
  height: 100vh;
  background: var(--main-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.green {
  color: var(--green);
}

.typewriter {
  font-family: "Source Code Pro", monospace;
  font-size: 6em;
}
.typewriter-text {
  color: black;
  overflow: hidden;
  border-right: 0.05em solid var(--dark-blue);
  white-space: nowrap;
  margin: 0 auto;
  -webkit-animation: typing 3s steps(20, end), blink-caret 1s step-end infinite;
  animation: typing 3s steps(20, end), blink-caret 1s step-end infinite;
}
/* The typing effect */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(2, 28, 43, 0.8);
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(2, 28, 43, 0.8);
  }
}

#delay-1 {
  color: var(--white);
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  -webkit-animation: appear 3.5s steps(1, end);
  animation: appear 3.5s steps(1, end);
}

#delay-2 {
  color: var(--white);
  -webkit-animation: appear 4.5s steps(1, end);
  animation: appear 4.5s steps(1, end);
}
@-webkit-keyframes appear {
  0% {
    color: transparent;
  }
  100% {
    color: black;
  }
}
@keyframes appear {
  0% {
    color: transparent;
  }
  100% {
    color: black;
  }
}

#arrow {
  position: relative;
  display: block;
  padding: 30px;
  box-shadow: 10px -10px 0 0 var(--dark-blue);
  transform: rotate(135deg);
}

/* projects */
#projects {
  min-height: 100vh;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4em;
  max-width: 100%;
  margin: 4rem;
}
.project-tile {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  background: var(--main-blue);
  position: relative;
}

.hover-tile {
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding: 2em;
  font-size: 2em;
  line-height: 2em;
  height: 100%;
  width: 100%;
  transition: opacity 0.4s linear;
}
.project-tile:hover .hover-tile {
  opacity: 1;
}

.invisible {
  /* for the grid to work in auto-fit */
  visibility: hidden;
}
.project-tile > img {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.project-title {
  padding: 1.5rem 2rem 2rem 2rem;
}

/* profile */
#profile-section {
  padding-top: 5em;
  height: 90vh;
  background: var(--green);
}
.contact-links {
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.contact-detail {
  transition: transform 0.3s ease-in-out;
}
.contact-detail:hover {
  transform: scale(1.05);
}
#profile-section h2 {
  color: var(--dark-blue);
  border-bottom: 3px solid var(--dark-blue);
  font-weight: 400;
}
#profile-section a {
  font-size: 1.728em;;
}

/* footer */
footer {
  background: rgba(167, 166, 166, 0.8);
  margin: 0;
}
#footer {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  font-family: monospace;
  font-weight: 400;
}

@media (max-width: 600px) {
 
  .html {
    font-size: 70%
  }
  .menu-link {
    padding: 1rem;
  }
  #arrow {
    padding: 20px;
    box-shadow: 7px -7px 0 0 var(--dark-blue);
  }

  #profile-section a {
    font-size: 1.728em;
  }
  .typewriter {
    font-size: 3em;
  }

  h3 {
    text-align: center;
  }

  .contact-links {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}
@media (min-width: 600px) and (max-width: 992px) {
  .html {
    font-size: 85%
  }

  .menu-link {
    padding: 1.5rem;
  }
  .typewriter {
    font-size: 3em;
  }
  #arrow {
    padding: 30px;
    box-shadow: 10px -10px 0 0 var(--dark-blue);
  }
  #profile-section a {
    font-size: 1.728em;;
  }
  h3 {
    text-align: center;
  }

  .contact-links {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}
