:root {
    --rows: 1;
    --cols: 1;
    box-sizing: border-box;
}

main {
    background: rgba(223, 223, 223, 0.7);
    padding: 2em;
    width: 80vw;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Grandstander', cursive;
}
button {
    font-family: 'Poppins', sans-serif;
}

#container {
    width: 70vw;
    height: 60vh;
    display: grid;
    grid-template-rows: repeat(var(--rows), 1fr);
    grid-template-columns: repeat(var(--cols), 1fr);
    background: white;
}