html {
    font-size: 150%;
    text-align: center;
}
h1 {
    font-family: 'Raleway', sans-serif;
}
main {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "button button"
        "icon icon"
        "computer-choice user-choice"
        "computer-score user-score"
        "winner winner";
}

#button {
    grid-area: button;
    border: none;
    background: transparent;
    font-size: 1em;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
#icon-bar {
    grid-area: icon;
    display: flex;
    justify-content: center;
    width : 100vw;
}
.icon {
    font-size: 5em;
    color: black;
    background: transparent;
    border: none;
    margin: 20px;
    cursor: pointer;
}

#choice-computer {
    grid-area: computer-choice;
}
#choice-user {
    grid-area: user-choice;
}
#score-computer {
    grid-area: computer-score;
}
#score-user {
    grid-area: user-score;
}
#winner {
    grid-area: winner;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
}
